:root {
    --basic-white: #fff;
    --basic-white-half: rgba(255, 255, 255, 0.5);
    --basic-white-rgb: 255, 255, 255;
    --basic-black: #000;
    --basic-shadow: rgba(0, 0, 0, 0.24);
    --basic-gray: #c5c5c5;
    --basic-gray-rgb: 197, 197, 197;
    --basic-gray-extra: #a9a9a9;
    --basic-gray-extra-rgb: 169, 169, 169;
    --bgcolor-dark-main: #293449;
    --bgcolor-dark-main-active: #161d29;
    --bgcolor-dark-extra: #32425c;
    --bgcolor-nav-active: #1d2739;
    --bgcolor-basic: #f1f5f7;
    --bgcolor-extra: #f9f5f0;

    --color-general: #ee3643;
    --color-general-hover: #ca2c37;
    --color-general-active: #ba2732;
    --color-footer: #f3f7f9;
    --color-footer-extra: #ffd180;
    --bgcolor-button-extra: #63a63e;
    --bgcolor-button-extra-hover: #5fbb2d;
    --bgcolor-card-material: #ffbf47;
    --bgcolor-card-tool: #3bbce3;
    --bgcolor-card-tech: #dc91d8;
    --bgcolor-card-discount: #8ed78f;
    --bgcolor-card-shipping: #ffc047;
    --bgcolor-services-link: #ff5357;
    --color-shadow-dark: #405069;
}

/* =========================== */
/* Default styles */
/* =========================== */

.page {
    height: 100%;
}

.page__body {
    min-height: 100%;
    font-family: "Cuprum", sans-serif;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* =========================== */
/* END of Default styles */
/* =========================== */

/* =========================== */
/* Classes for common things */
/* =========================== */

.container {
    width: 940px;
    margin: 0 auto;
}

.button-extra {
    background-color: var(--bgcolor-button-extra);
}

.button-extra:hover {
    background-color: var(--bgcolor-button-extra-hover);
}

.button-general,
.button-general:active {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-decoration: none;
    text-transform: uppercase;
}

.button-general {
    background-color: var(--color-general);
}

.button-general:hover {
    background-color: var(--color-general-hover);
}

.button-general:active {
    background-color: var(--color-general-active);
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* =========================== */
/* END of Classes for common things */
/* =========================== */

/* =========================== */
/* HEADER */
/* =========================== */

.main-head {
    background-color: var(--bgcolor-basic);
}

.main-head__top {
    background-color: var(--bgcolor-dark-main);
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
    height: 42px;
}

.main-head__top .container {
    height: 100%;
    display: flex;
    align-items: stretch;
}

.main-head__top .container > *:not(.logo) {
    display: flex;
    align-items: center;
}

.main-head__top a {
    text-decoration: none;
}

.main-head__top a:visited {
    color: var(--basic-white);
}

.main-head__bookmarks:active,
.main-head__shop-cart:active,
.main-head__order:active {
    color: var(--basic-white-half);
}

.main-head__bookmarks:active,
.main-head__shop-cart:active {
    background-color: var(--bgcolor-dark-main-active);
}

.logo {
    box-sizing: border-box;
    width: 220px;
    height: calc(100% + 5px);
    padding-top: 12px;
    text-align: center;
    background-color: var(--color-general);
    box-shadow: inset 0px -5px 0px var(--basic-shadow);
}

.logo:active {
    background-color: var(--color-general-active);
}

.main-head__search {
    width: 271px;
}

.main-head__bookmarks,
.main-head__shop-cart,
.main-head__order {
    flex: 1 1 150px;
    justify-content: center;
}

.main-head__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main-head__text {
    color: var(--color-general);
    font-size: 16px;
    line-height: 23px;
}

.main-head__tel {
    color: var(--color-general);
    font-size: 21px;
    line-height: 30px;
}

.main-head__addr {
    color: var(--bgcolor-dark-extra);
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
}

.main-head__login {
    font-size: 21px;
    line-height: 21px;
    list-style-type: none;
    padding: 0;
}

.main-head__login a,
.main-head__login a:visited {
    text-decoration: none;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.main-head__login a:hover {
    color: var(--color-general);
}

.main-head__login a:active {
    color: var(--basic-gray);
}

.main-head__nav {
    background-color: var(--bgcolor-dark-extra);
    box-shadow: inset 0px -5px 0px var(--bgcolor-dark-main);
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.main-head__nav ul {
    list-style-type: none;
    padding: 0;
}

.main-head__nav li {
    display: inline-block;
}

.main-head__nav li:hover {
    background-color: var(--bgcolor-dark-main);
}

.main-head__nav li:active {
    background-color: var(--bgcolor-nav-active);
}

.main-head__nav a,
.main-head__nav a:visited {
    text-decoration: none;
    color: var(--basic-white);
}

.main-head__nav a:active {
    opacity: 0.5;
}

/* =========================== */
/* END of HEADER */
/* =========================== */

/* =========================== */
/* PROMO SECTION */
/* =========================== */

.promo .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 123px);
    gap: 20px;
}

.promo-card {
    color: var(--basic-white);
}

.promo-card__head {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.promo-card__link,
.promo-card__link:visited {
    text-decoration: none;
    color: var(--basic-white);
    background-color: rgba(var(--basic-white-rgb), 0.3);
    font-size: 14px;
    line-height: 18px;
}

.promo-card__link:hover {
    background-color: rgba(var(--basic-gray-rgb), 0.3);
}

.promo-card__link:active {
    background-color: rgba(var(--basic-gray-extra-rgb), 0.3);
}

.promo__materials {
    background-color: var(--bgcolor-card-material);
}

.promo__tool {
    background-color: var(--bgcolor-card-tool);
}

.promo__tech {
    background-color: var(--bgcolor-card-tech);
}

.promo__discount {
    background-color: var(--bgcolor-card-discount);
}

.promo__shipping {
    background-color: var(--bgcolor-card-shipping);
}

.promo-slider {
    grid-row: 2 / -1;
    grid-column: 1 / -2;
    overflow: hidden;
}

.promo-slider ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.promo-slider .slide {
    background-color: var(--bgcolor-dark-extra);
    color: var(--basic-white);
}

.slide__head {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.slide__text {
    font-size: 18px;
    line-height: 24px;
}

/* =========================== */
/* END of PROMO SECTION */
/* =========================== */

/* =========================== */
/* POP THINGS SECTION */
/* =========================== */

.pop-things__header {
    background-color: var(--bgcolor-extra);
}

.pop-things__heading {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--bgcolor-dark-extra);
    text-transform: uppercase;
}

.pop-things__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 318px;
    gap: 20px;
}

.thing {
    display: grid;
    grid-template-rows: 2fr repeat(3, min-content);
    text-align: center;
}

.thing__img {
    align-self: center;
}

.thing__name,
.thing__price,
.thing__price_old {
    margin: 0;
}

.thing__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.thing__price {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--color-general);
}

.thing__price_old {
    color: var(--basic-gray-extra);
    background-color: transparent;
}

/* =========================== */
/* END of POP THINGS SECTION */
/* =========================== */

/* =========================== */
/* POP MANUFACTURER SECTION */
/* =========================== */

.pop-manufacturer__header {
    background-color: var(--bgcolor-extra);
}

.pop-manufacturer__heading {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--bgcolor-dark-extra);
    text-transform: uppercase;
}

.pop-manufacturer__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 145px);
    gap: 20px;
}

.pop-manufacturer__list li {
    align-self: center;
    justify-self: center;
}

/* =========================== */
/* END of POP MANUFACTURER SECTION */
/* =========================== */

/* =========================== */
/* SERVICES SECTION */
/* =========================== */
.services {
    background-color: var(--bgcolor-basic);
}

.services__heading {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

h3.services__heading {
    color: var(--bgcolor-dark-extra);
}

.services__text {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
}

.services__controls {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.services__control {
    border: none;
    background-color: var(--bgcolor-dark-extra);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-white);
    box-shadow: 0px 1px 0px var(--bgcolor-dark-main), inset 0px 1px 0px var(--color-shadow-dark);
}

.services__control:active,
.services__control:focus {
    outline: none;
}

.services__control:hover:not(.services__control_active) {
    background-color: var(--bgcolor-dark-main);
}

.services__control_active {
    background-color: var(--basic-white);
    color: var(--bgcolor-dark-extra);
    box-shadow: 0px 1px 0px var(--basic-white);
}

.services__link,
.services__link:visited {
    text-decoration: none;
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--bgcolor-services-link);
}

.services__items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* =========================== */
/* END of SERVICES SECTION */
/* =========================== */

/* =========================== */
/* ABOUT SECTION */
/* =========================== */

.sections-about-map {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__heading {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.about__text {
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
}

.about__partners {
    list-style-type: none;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

/* =========================== */
/* END of ABOUT SECTION */
/* =========================== */

/* =========================== */
/* MAP SECTION */
/* =========================== */
.map__heading {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.map__text {
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
}

/* =========================== */
/* END of MAP SECTION */
/* =========================== */

/* =========================== */
/* FOOTER SECTION */
/* =========================== */

.main-footer__top {
    background-color: var(--bgcolor-dark-extra);
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.main-footer__top .container {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content min-content;
}

.logo_big {
    height: 68px;
}

.main-footer__address {
    font-style: normal;
    color: var(--color-footer);
    grid-row: 2 / -1;
    grid-column: 1 / 2;
}

.main-footer__address a,
.main-footer__address:visited {
    text-decoration: none;
    color: var(--color-footer);
}

.main-footer__nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-self: end;
}

.main-footer__nav-list li {
    display: inline-block;
}

.main-footer__nav-list a,
.main-footer__nav-list a:visited {
    text-decoration: none;
    color: var(--bgcolor-basic);
}

.main-footer__promo-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-self: end;
}

.main-footer__promo-list li {
    display: inline-block;
}

.main-footer__promo-list a,
.main-footer__promo-list a:visited {
    text-decoration: none;
    color: var(--color-footer-extra);
}

.main-footer__nav-list a:hover,
.main-footer__promo-list a:hover {
    text-decoration: underline;
}

.main-footer__nav-list a:active,
.main-footer__promo-list a:active {
    text-decoration: none;
    opacity: 0.5;
}

.main-footer__bottom {
    background-color: var(--bgcolor-dark-main);
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.main-footer__bottom .container {
    display: grid;
    grid-template-columns: auto 1fr min-content min-content;
}

.social-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-list a,
.social-list a:visited {
    text-decoration: none;
    color: var(--basic-white);
}

.main-footer__feedback a,
.main-footer__feedback a:visited,
.main-footer__developer a,
.main-footer__developer a:visited {
    text-decoration: none;
    color: var(--color-footer-extra);
}

.main-footer__feedback a:hover,
.main-footer__developer a:hover {
    text-decoration: underline;
}

.main-footer__feedback a:active,
.main-footer__developer a:active {
    text-decoration: none;
    color: var(--color-general);
}

/* =========================== */
/* END of FOOTER SECTION */
/* =========================== */
