:root {
    --basic-white: #fff;
    --basic-white-half: rgba(255, 255, 255, 0.5);
    --basic-white-rgb: 255, 255, 255;
    --basic-black: #000;
    --basic-shadow: rgba(0, 0, 0, 0.24);
    --basic-gray: #c5c5c5;
    --basic-gray-rgb: 197, 197, 197;
    --basic-gray-extra: #a9a9a9;
    --basic-gray-extra-rgb: 169, 169, 169;
    --bgcolor-dark-main: #293449;
    --bgcolor-dark-main-active: #161d29;
    --bgcolor-dark-extra: #32425c;
    --bgcolor-nav-active: #1d2739;
    --bgcolor-basic: #f1f5f7;
    --bgcolor-extra: #f9f5f0;
    --bgcolor-catalog-head: #f2f6f8;
    --bgcolor-catalog: #f7f3ec;

    --color-general: #ee3643;
    --color-general-hover: #ca2c37;
    --color-general-active: #ba2732;
    --color-footer: #f3f7f9;
    --color-footer-extra: #ffd180;
    --bgcolor-button-extra: #63a63e;
    --bgcolor-button-extra-hover: #5fbb2d;
    --bgcolor-card-material: #ffbf47;
    --bgcolor-card-tool: #3bbce3;
    --bgcolor-card-tech: #dc91d8;
    --bgcolor-card-discount: #8ed78f;
    --bgcolor-card-shipping: #ffc047;
    --bgcolor-services-link: #ff5357;
    --color-shadow-dark: #405069;
    --border-color: #eaeaea;
    --border-color-catalog: #e5e5e5;
    --color-sort: #b3b3b3;
}

/* =========================== */
/* Default styles */
/* =========================== */

.page {
    height: 100%;
}

.page__body {
    min-width: 940px;
    min-height: 100%;
    font-family: "Cuprum", sans-serif;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* =========================== */
/* END of Default styles */
/* =========================== */

/* =========================== */
/* Classes for common things */
/* =========================== */

.container {
    width: 940px;
    margin: 0 auto;
}

.button-extra {
    background-color: var(--bgcolor-button-extra);
}

.button-extra:hover {
    background-color: var(--bgcolor-button-extra-hover);
}

.button-general,
.button-general:active {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-decoration: none;
    text-transform: uppercase;
}

.button-general {
    background-color: var(--color-general);
}

.button-general:hover {
    background-color: var(--color-general-hover);
}

.button-general:active {
    background-color: var(--color-general-active);
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* =========================== */
/* END of Classes for common things */
/* =========================== */

/* =========================== */
/* HEADER */
/* =========================== */

.main-head {
    background-color: var(--bgcolor-basic);
    padding-bottom: 60px;
    margin-bottom: 59px;
}

.main-head__top {
    background-color: var(--bgcolor-dark-main);
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
    min-height: 42px;
    display: flex; /* To stretch all childs */
}

.main-head__top-container {
    display: flex;
}

.main-head__top-container > *:not(.logo) {
    display: flex;
    align-items: center;
}

.main-head__top a {
    text-decoration: none;
}

.main-head__top a:visited {
    color: var(--basic-white);
}

.main-head__bookmarks:active,
.main-head__shop-cart:active,
.main-head__order:active {
    color: var(--basic-white-half);
}

.main-head__bookmarks:active,
.main-head__shop-cart:active {
    background-color: var(--bgcolor-dark-main-active);
}

.logo {
    box-sizing: border-box;
    width: 220px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-general);
    box-shadow: 0px 5px 0px var(--basic-shadow), 0px 5px 0px var(--color-general);
}

.logo:active {
    background-color: var(--color-general-active);
}

.main-head__search {
    flex: 1 1 271px;
    margin: 0;
}

.main-head__bookmarks,
.main-head__shop-cart,
.main-head__order {
    flex-basis: 150px;
    justify-content: center;
}

.main-head__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    margin: 42px 0;
}

.main-head__text {
    color: var(--color-general);
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    margin-left: 30px;
}

.main-head__tel-addr {
    justify-self: center;
}

.main-head__tel {
    color: var(--color-general);
    font-size: 21px;
    line-height: 30px;
    border: 1px solid var(--basic-white);
}

.main-head__addr {
    color: var(--bgcolor-dark-extra);
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
}

.main-head__login {
    font-size: 21px;
    line-height: 21px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.login__signin {
    margin-right: 10px;
}

.login__signin a,
.login__signin a:visited,
.login__signup a,
.login__signup a:visited {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.login__signin a:hover,
.login__signup a:hover {
    color: var(--color-general);
}

.login__signin a:active,
.login__signup a:active {
    color: var(--basic-gray);
}

.main-head__nav {
    background-color: var(--bgcolor-dark-extra);
    box-shadow: inset 0px -5px 0px var(--bgcolor-dark-main);
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.main-head__nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-head__nav li {
    flex: 1 1 auto;
    text-align: center;
    transition: 0.2s;
}

.main-head__nav li:hover {
    background-color: var(--bgcolor-dark-main);
}

.main-head__nav li:active {
    background-color: var(--bgcolor-nav-active);
}

.main-head__nav a,
.main-head__nav a:visited {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 0 20px 0;
    text-decoration: none;
    color: var(--basic-white);
}

.main-head__nav a:active {
    opacity: 0.5;
}

/* =========================== */
/* END of HEADER */
/* =========================== */

/* =========================== */
/* PROMO SECTION */
/* =========================== */

.promo {
    margin-bottom: 59px;
}

.promo__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 123px);
    gap: 20px;
}

.promo-card {
    color: var(--basic-white);
    padding: 20px 0 22px 23px;
}

.promo-card__head {
    margin: 0;
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.promo-card__link,
.promo-card__link:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    padding: 10px 0;
    background-color: rgba(var(--basic-white-rgb), 0.3);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.promo-card__link:hover {
    background-color: rgba(var(--basic-gray-rgb), 0.3);
}

.promo-card__link:active {
    background-color: rgba(var(--basic-gray-extra-rgb), 0.3);
}

.promo__materials {
    background-color: var(--bgcolor-card-material);
}

.promo__tool {
    background-color: var(--bgcolor-card-tool);
}

.promo__tech {
    background-color: var(--bgcolor-card-tech);
}

.promo__discount {
    background-color: var(--bgcolor-card-discount);
}

.promo__shipping {
    background-color: var(--bgcolor-card-shipping);
}

.promo-slider {
    grid-row: 2 / -1;
    grid-column: 1 / -2;
    overflow: hidden;
}

.promo-slider ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.promo-slider .slide {
    background-color: var(--bgcolor-dark-extra);
    color: var(--basic-white);
}

.slide__head {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.slide__text {
    font-size: 18px;
    line-height: 24px;
}

/* =========================== */
/* END of PROMO SECTION */
/* =========================== */

/* =========================== */
/* POP THINGS SECTION */
/* =========================== */

.pop-things {
    margin-bottom: 70px;
}

.pop-things__header {
    display: flex;
    align-items: center;
    padding-left: 28px;
    padding-right: 19px;
    background-color: var(--bgcolor-extra);
    margin-bottom: 20px;
}

.pop-things__heading {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    margin: 30px 0;
    color: var(--bgcolor-dark-extra);
    text-transform: uppercase;
}

.pop-things__button {
    margin-left: auto;
    width: 192px;
    padding: 10px 0;
    text-align: center;
}

.things-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(318px, auto);
    gap: 20px;
    justify-content: center;
}

.thing {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    padding-bottom: 21px;
}

.thing__top {
    display: flex;
    align-items: center;
    min-height: 170px;
    margin-bottom: 8px;
    order: -1;
}

.thing__name,
.thing__price,
.thing__price_old {
    margin: 0;
}

.thing__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-bottom: auto;
}

.thing__price {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    padding: 10px 32px;
    color: var(--basic-white);
    background-color: var(--color-general);
    border-radius: 4px 0 0 4px;
}

.thing__price_old {
    color: var(--basic-gray-extra);
    background-color: transparent;
    margin-bottom: auto;
}

/* =========================== */
/* END of POP THINGS SECTION */
/* =========================== */

/* =========================== */
/* POP MANUFACTURER SECTION */
/* =========================== */

.pop-manufacturers {
    margin-bottom: 70px;
}

.pop-manufacturers__header {
    display: flex;
    align-items: center;
    padding-left: 28px;
    padding-right: 19px;
    background-color: var(--bgcolor-extra);
    margin-bottom: 20px;
}

.pop-manufacturers__heading {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    margin: 30px 0;
    color: var(--bgcolor-dark-extra);
    text-transform: uppercase;
}

.pop-manufacturers__button {
    margin-left: auto;
    width: 192px;
    padding: 10px 0;
    text-align: center;
}

.pop-manufacturers__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 145px);
    gap: 20px;
}

.manufacturer {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
}

.manufacturer a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =========================== */
/* END of POP MANUFACTURER SECTION */
/* =========================== */

/* =========================== */
/* SERVICES SECTION */
/* =========================== */
.services {
    background-color: var(--bgcolor-basic);
    padding-top: 64px;
    margin-bottom: 70px;
}

.services__heading {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px;
}

.services__text {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
    margin: 0;
    margin-bottom: 70px;
}

.services__slider {
    display: flex;
    min-height: 285px;
}

.services__controls {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 80px;
}

.services__control {
    border: none;
    background-color: var(--bgcolor-dark-extra);
    color: var(--basic-white);
    box-shadow: 0px 1px 0px var(--bgcolor-dark-main), inset 0px 1px 0px var(--color-shadow-dark);
    font-weight: bold;
    font-size: 21px;
    text-align: left;
    line-height: 30px;
    box-sizing: border-box;
    width: 240px;
    padding: 13.5px 0 17.5px 22px;
}

.services__control:active,
.services__control:focus {
    outline: none;
}

.services__control:hover:not(.services__control_active) {
    background-color: var(--bgcolor-dark-main);
    cursor: pointer;
}

.services__control_active {
    background-color: var(--basic-white);
    color: var(--bgcolor-dark-extra);
    box-shadow: 0px 1px 0px var(--basic-white);
}

.services__link,
.services__link:visited {
    text-decoration: none;
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--bgcolor-services-link);
}

.services__items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.service {
    height: 100%;
}

.service__heading {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--bgcolor-dark-extra);
    margin: 0;
    margin-bottom: 30px;
}

.service__text {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
    margin: 0;
}

.service__delivery {
    background-image: url("../img/decorative/service-truck.png");
    background-repeat: no-repeat;
    background-position: right 22px;
}

/* =========================== */
/* END of SERVICES SECTION */
/* =========================== */

/* =========================== */
/* ABOUT SECTION */
/* =========================== */

.sections-about-map {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.about {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.about__heading {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 24px;
}

.about__text {
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
    margin: 0;
}

.about__text ~ .about__text {
    margin-top: 30px;
}

.about__partners {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.about__partner {
    display: flex;
    align-items: center;
}

.about__partner::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    margin-right: 12px;
    background-color: var(--color-general);
}

.about__partner ~ .about__partner {
    margin-top: 12px;
}

.about__button {
    padding: 11px 0 9px 0;
    display: flex;
    justify-content: center;
    width: 220px;
    margin-top: auto;
}

/* =========================== */
/* END of ABOUT SECTION */
/* =========================== */

/* =========================== */
/* MAP SECTION */
/* =========================== */

.map {
    display: flex;
    flex-direction: column;
}

.map__heading {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 24px;
}

.map__text {
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
    margin: 0;
    margin-bottom: 32px;
}

.map__link {
    margin-bottom: 25px;
}

.map__button {
    padding: 11px 0 9px 0;
    display: flex;
    justify-content: center;
}

/* =========================== */
/* END of MAP SECTION */
/* =========================== */

/* =========================== */
/* FOOTER SECTION */
/* =========================== */

.main-footer__top {
    background-color: var(--bgcolor-dark-extra);
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 54px;
}

.main-footer__top-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content min-content;
}

.logo_big {
    padding: 20px;
    margin-bottom: 27px;
}

.main-footer__address {
    font-style: normal;
    color: var(--color-footer);
    grid-row: 2 / -1;
    grid-column: 1 / 2;
}

.main-footer__address a,
.main-footer__address:visited {
    text-decoration: none;
    color: var(--color-footer);
}

.main-footer__nav-list {
    list-style-type: none;
    padding: 0;
    padding-top: 37px;
    margin: 0;
    justify-self: end;
    display: flex;
    flex-wrap: wrap;
}

.main-footer__nav-item ~ .main-footer__nav-item {
    margin-left: 58px;
}

.main-footer__nav-item a,
.main-footer__nav-item a:visited {
    text-decoration: none;
    color: var(--bgcolor-basic);
}

.main-footer__promo-list {
    list-style-type: none;
    padding: 0;
    padding-top: 5px;
    margin: 0;
    justify-self: end;
    display: flex;
    flex-wrap: wrap;
}

.main-footer__promo-item ~ .main-footer__promo-item {
    margin-left: 58px;
}

.main-footer__promo-item a,
.main-footer__promo-item a:visited {
    text-decoration: none;
    color: var(--color-footer-extra);
}

.main-footer__nav-item a:hover,
.main-footer__promo-item a:hover {
    text-decoration: underline;
}

.main-footer__nav-item a:active,
.main-footer__promo-item a:active {
    text-decoration: none;
    opacity: 0.5;
}

.main-footer__bottom {
    background-color: var(--bgcolor-dark-main);
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    padding: 36px 0 34px 0;
}

.main-footer__bottom-container {
    display: flex;
    justify-content: center;
}

.main-footer__copyright {
    margin: 0;
    margin-right: auto;
}

.social-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-list__item ~ .social-list__item {
    margin-left: 3.5px;
}

.social-list__item a,
.social-list__item a:visited {
    text-decoration: none;
    color: var(--basic-white);
}

.main-footer__feedback,
.main-footer__developer {
    margin: 0;
}

.main-footer__feedback {
    margin-left: auto;
}

.main-footer__developer {
    margin-left: 51px;
}

.main-footer__feedback a,
.main-footer__feedback a:visited,
.main-footer__developer a,
.main-footer__developer a:visited {
    text-decoration: none;
    color: var(--color-footer-extra);
}

.main-footer__feedback a:hover,
.main-footer__developer a:hover {
    text-decoration: underline;
}

.main-footer__feedback a:active,
.main-footer__developer a:active {
    text-decoration: none;
    color: var(--color-general);
}

/* =========================== */
/* END of FOOTER SECTION */
/* =========================== */

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Styles for Catalog page */
/*------------------------------------------------------------------------------------------------------------------------------------------------*/

.catalog-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 60px;
}

/* =========================== */
/* HEADER SECTION */
/* =========================== */

.page_catalog .main-head {
    margin-bottom: 0;
}

.login__name {
    grid-column: 1 / -1;
    background-color: var(--basic-white);
}

.login__name a,
.login__name a:visited {
    color: var(--basic-black);
    text-decoration: none;
}

.login__orders a,
.login__orders a:visited,
.login__cabinet a,
.login__cabinet a:visited {
    font-size: 16px;
    line-height: 18px;
    color: var(--bgcolor-dark-extra);
    background-color: transparent;
    text-decoration: none;
}

.login__orders a:hover,
.login__cabinet a:hover {
    color: var(--color-general);
}

.login__orders a:active,
.login__cabinet a:active,
.login__name a:active {
    color: var(--basic-gray);
}

/* =========================== */
/* END of HEADER SECTION */
/* =========================== */

.catalog h1 {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--bgcolor-dark-extra);
    background-color: var(--bgcolor-catalog-head);
    padding: 29px;
    margin: 0;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.catalog__button {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid var(--border-color-catalog);
    cursor: pointer;
}

.catalog__button:hover {
    border: 1px solid var(--basic-gray);
}

.catalog__button:active {
    border: 1px solid var(--color-general);
}

.catalog__button:focus {
    outline: none;
}

/* =========================== */
/* Breadcrumbs SECTION */
/* =========================== */

.breadcrumbs {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs__item a,
.breadcrumbs__item a:visited {
    color: var(--basic-black);
    text-decoration: none;
}

/* =========================== */
/* END of Breadcrumbs SECTION */
/* =========================== */

/* =========================== */
/* FILTERS SECTION */
/* =========================== */

.filters {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.filters__head {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    text-transform: uppercase;
    background-color: var(--bgcolor-catalog);
}

.filters__subhead {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    text-transform: uppercase;
}

.filters-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
}

.filters-list label {
    cursor: pointer;
}

.filters__submit {
    border-radius: 0;
}

/* =========================== */
/* END of FILTERS SECTION */
/* =========================== */

/* =========================== */
/* SORT SECTION */
/* =========================== */

.sort {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--bgcolor-catalog);
    grid-column: 2 / -1;
    grid-row: 3 / span 1;
}

.sort-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sort-list label {
    color: var(--color-sort);
    border-bottom: 2px dotted var(--color-general);
    cursor: pointer;
    transition: 0.2s;
}

.sort-list label:hover {
    color: var(--basic-black);
    border-bottom-style: solid;
}

.sort-list input:checked + label {
    color: var(--color-general);
    border: none;
}

.orders-list__item label,
.orders-list__item label:hover {
    border: none;
}

/* =========================== */
/* END of SORT SECTION */
/* =========================== */

/* =========================== */
/* CATALOG THINGS SECTION */
/* =========================== */

.things-container {
    grid-column: 2 / -1;
    grid-row-start: 4;
}

.catalog-things {
    grid-template-columns: repeat(3, 1fr);
}

.page-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.page-list a,
.page-list a:visited {
    color: var(--basic-black);
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
}

.page-list .page-number_active {
    color: var(--basic-white);
    background-color: var(--color-general);
}

/* =========================== */
/* END of CATALOG THINGS SECTION */
/* =========================== */

/* =========================== */
/* THINGS INFO SECTION */
/* =========================== */

.things-info {
    background-color: var(--bgcolor-basic);
    padding-top: 64px;
    padding-bottom: 68px;
}

.things-info__heading {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px;
}

.things-info__text {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
}

/* =========================== */
/* END of THINGS INFO SECTION */
/* =========================== */
